<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <div class="container py-5">

      <!-- Jumbo -->
      <div class="jumbotron">
        <h1>Taggle</h1>
        <p>Tag your images.</p>
        <hr>
        <ol>
          <li>Feed <code>/data/tags.csv</code> with your tags (comma separated).</li>
          <li>Feed <code>/data/images/</code> with your images.</li>
          <li>Click an image below to start tagging.</li>
          <li>Tags are saved in <code>/data/base.json</code>.</li>
        </ol>
      </div>

      <!-- Nothing found -->
      <% if (!images.length) { %>
        No image found in <code>/public/images/</code>...
      <% } %>

      <!-- Gallery -->
      <div id="gallery" class="text-center">
        <% images.forEach((img, index) => { %>
          <a href="/tag?index=<%= index %>">
            <img src="/images/<%= img %>" class="shadow-lg rounded <%= tagged.includes(img) ? 'tagged' : '' %>" />
          </a>
        <% }); %>
      </div>

    </div>
  </body>
</html>
