<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <div class="container py-5">
      <div class="row">
        
        <!-- Image -->
        <div class="col">
          <img src="/images/<%= image %>" class="img-fluid shadow-lg rounded"/ id="show">
          <input type="hidden" value="<%= image %>" id="image"/>
          <input type="hidden" value="<%= index %>" id="index"/>
        </div>

        <div class="col">

          <!-- Instructions -->
          <div class="jumbotron">
            <h1>Taggle</h1>
            <p>Tag your images.</p>
            <hr>
            <ol>
              <li>Click tags (or press associated <span class="badge badge-secondary">keybinding</span>).</li>
              <li>Save and go to next image.</li>
              <li>Or discard and go home. </li>
            </ol>
          </div>

          <!-- Tags -->
          <p class="lead">Tags</p>
          <hr>
          <% tags.forEach((tag, index) => { %>
            <button class="btn <%= tagged.includes(tag) ? 'btn-primary' : 'btn-outline-secondary' %> m-1 tag"
                    value="<%= tag %>">
              <% if (index < 10) { %>
                <span class="badge">
                  <%= index %>
                </span>
              <% } else if (index < 20) { %>
                <span class="badge">
                  <%= String.fromCharCode(97 + (index - 10)) %>
                </span>
              <% } %>
              <%= tag %>
            </button>
          <% }) %>
          <hr>

          <!-- Navigation -->
          <a href="/" class="btn btn-outline-danger">
            Discard and home
          </a>
          <button id=save class="btn btn-outline-success">
            <span class="badge badge-success">enter</span>
            Save and next
          </button>
        </div>

      </div>
    </div>

    <!-- Scripts -->
    <script src="/javascripts/taggle.js"></script>
  </body>
</html>
