#gallery a:hover {
  text-decoration: none;
}

#gallery img { 
  width: 128px;
  height: 128px;
  border: 8px solid #fff;
  margin-right: 4px;
  margin-bottom: 8px;
  opacity: .5;
}

#gallery img:hover {
  opacity: 1;
}

#gallery img.tagged {
  opacity: 1;
  border-color: #007bff;
}

.tag .badge {
  background-color: #6c757d;
  color: #fff;
}

.tag.btn-primary .badge {
  background-color: #fff;
  color: #007bff;
}